<section class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8 ">
  <div class="flex flex-col md:flex-row gap-6 ">
    <div class="w-full md:w-[30%] bg-slate-400 flex flex-col gap-8">
      <!-- Content for the first column -->
      <div class="flex flex-col gap-4">
        <div class="flex justify-center pt-3">
            <img class="object-cover h-[200px] md:h-40 w-[200px] md:w-40 rounded-full" src="https://www.taskrabbit.com/v3/assets/_/_/_/src/becomeATaskerNew/images/hero_landing-fdeb7ef8f1a4361ec76f75d007d79546.jpg" alt="">
        </div>

        <div class="flex items-center flex-col gap-2">
          <p class="text-xl font-bold">Nombre del proveedor</p>

          <div class="flex items-center">
            @for (star of [].constructor(5); track $index) {
              <svg
              class="w-5 h-5 text-[#FDB241]"
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 20 20"
              fill="currentColor"
              >
                <path
                  d="M9.049 2.927c.3-.921 1.603-.921 1.902 0l1.07 3.292a1 1 0 00.95.69h3.462c.969 0 1.371 1.24.588 1.81l-2.8 2.034a1 1 0 00-.364 1.118l1.07 3.292c.3.921-.755 1.688-1.54 1.118l-2.8-2.034a1 1 0 00-1.175 0l-2.8 2.034c-.784.57-1.838-.197-1.539-1.118l1.07-3.292a1 1 0 00-.364-1.118L2.98 8.72c-.783-.57-.38-1.81.588-1.81h3.461a1 1 0 00.951-.69l1.07-3.292z"
                />
              </svg>
            }
          </div>
        </div>

        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eius ex voluptas amet nulla eos voluptatum provident molestiae alias libero in qui, vitae veniam, error dolor! Dignissimos ea consequatur libero delectus.</p>
      </div>

      <div class="">
        <h3>Calificaciones</h3>
        Adipisci omnis recusandae cum accusamus dicta distinctio itaque ex consequuntur ducimus? Doloremque aspernatur nostrum tempore omnis architecto obcaecati corporis error minima! Impedit fuga dignissimos quibusdam facere cum hic alias pariatur.
      Odio non dolorem enim, veritatis minima tempore, inventore magni totam tempora culpa id temporibus quisquam eos autem cupiditate aliquam. Velit deserunt id numquam ea corporis eius repellendus ad laudantium officia!
      Ratione voluptatem culpa unde veniam officiis, nisi impedit optio, officia quos sint corrupti, cum iure! Rerum ea cum ut illo alias omnis ipsam ducimus perspiciatis deserunt dolorem, veniam quae. Ratione!
      </div>
    </div>

    <div class="w-full md:w-[70%] bg-red-600">
      Adipisci omnis recusandae cum accusamus dicta distinctio itaque ex consequuntur ducimus? Doloremque aspernatur nostrum tempore omnis architecto obcaecati corporis error minima! Impedit fuga dignissimos quibusdam facere cum hic alias pariatur.
      Odio non dolorem enim, veritatis minima tempore, inventore magni totam tempora culpa id temporibus quisquam eos autem cupiditate aliquam. Velit deserunt id numquam ea corporis eius repellendus ad laudantium officia!
      Ratione voluptatem culpa unde veniam officiis, nisi impedit optio, officia quos sint corrupti, cum iure! Rerum ea cum ut illo alias omnis ipsam ducimus perspiciatis deserunt dolorem, veniam quae. Ratione!
      Quaerat cum, autem voluptatem, assumenda aspernatur dolorem fuga quasi illo neque voluptatibus sunt odit at repudiandae earum quis suscipit molestias eum natus incidunt? Labore nesciunt doloremque quasi, eius ipsam alias.
      Nulla, deserunt natus earum ducimus facilis, eaque necessitatibus suscipit fuga minima exercitationem quidem at aperiam quis neque impedit optio nihil repellendus corporis? Consectetur eos modi vitae possimus nam quaerat harum!
      Culpa sint dicta laudantium aut iste, corrupti, ab accusamus soluta inventore, unde vel molestias enim dolores exercitationem. Soluta dignissimos illo aliquid id rerum? Veritatis omnis quidem labore fugit, facilis eligendi?
      Porro magnam asperiores adipisci dolorem dolores? Saepe at itaque minima similique hic placeat natus reprehenderit repellendus recusandae veritatis quia aliquid ipsum accusamus in magnam ratione officiis, iure commodi fuga amet.
      <!-- Content for the second column -->
    </div>
  </div>
</section>
