<section class="bg-white h-screen">
  <div class="grid grid-cols-1 lg:grid-cols-2">
    <div class="hidden lg:flex relative h-screen items-end px-4 pb-10 pt-60 sm:pb-16 md:justify-center lg:pb-24 bg-gray-50 sm:px-6 lg:px-8">
      <div class="absolute inset-0">
        <img
          class="object-cover w-full h-full md:min-h-[800px]"
          src="https://cdn.rareblocks.xyz/collection/celebration/images/signup/4/girl-working-on-laptop.jpg"
          alt=""
        />
      </div>

      <div class="md:min-h-[850px] absolute inset-0 bg-gradient-to-t from-black to-transparent"></div>

      <div class="relative">
        <div class="w-full max-w-xl xl:w-full xl:mx-auto xl:pr-24 xl:max-w-xl">
          <h3 class="text-4xl font-bold text-white">
            Join 35k+ web professionals & <br class="hidden xl:block" />build
            your website
          </h3>

          <ul class="grid grid-cols-1 mt-10 sm:grid-cols-2 gap-x-8 gap-y-4">
            <li class="flex items-center space-x-3">
              <div
                class="inline-flex items-center justify-center flex-shrink-0 w-5 h-5 bg-blue-500 rounded-full">
                <svg
                  class="w-3.5 h-3.5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </div>

              <span class="text-lg font-medium text-white">
                Commercial License
              </span>
            </li>

            <li class="flex items-center space-x-3">
              <div class="inline-flex items-center justify-center flex-shrink-0 w-5 h-5 bg-blue-500 rounded-full">
                <svg
                  class="w-3.5 h-3.5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </div>

              <span class="text-lg font-medium text-white">
                Unlimited Exports
              </span>
            </li>

            <li class="flex items-center space-x-3">
              <div class="inline-flex items-center justify-center flex-shrink-0 w-5 h-5 bg-blue-500 rounded-full">
                <svg
                  class="w-3.5 h-3.5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </div>

              <span class="text-lg font-medium text-white">
                120+ Coded Blocks
              </span>
            </li>

            <li class="flex items-center space-x-3">
              <div class="inline-flex items-center justify-center flex-shrink-0 w-5 h-5 bg-blue-500 rounded-full">
                <svg
                  class="w-3.5 h-3.5 text-white"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 20 20"
                  fill="currentColor"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                    clip-rule="evenodd"
                  ></path>
                </svg>
              </div>

              <span class="text-lg font-medium text-white">
                Design Files Included
              </span>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="flex h-full  items-center justify-center px-4 py-10 bg-white sm:px-6 lg:px-8 sm:py-16 lg:py-24">
      <div class="xl:w-full xl:max-w-sm 2xl:max-w-md xl:mx-auto">

        <app-header text="Crear una cuenta gratuita">
          <p class="mt-2 text-base text-gray-600">
            ¿Ya tienes una cuenta?
            <a
              routerLink="/auth/login"
              title=""
              class="font-medium text-orange-500 transition-all duration-200 hover:text-orange-600 focus:text-orange-600 hover:underline"
            >
              Inicia sesión
            </a>
          </p>
        </app-header>

        <app-register-form />

        <div class="text-center my-2">
          <p class="text-base text-gray-600">
            ó
          </p>
        </div>

        <div class="mt-4 space-y-3">
          <button
            type="button"
            class="relative inline-flex items-center justify-center w-full px-4 py-4 text-base font-semibold text-gray-700 transition-all duration-200 bg-white border-2 border-gray-200 rounded-md hover:bg-gray-100 focus:bg-gray-100 hover:text-black focus:text-black focus:outline-none"
          >
            <div class="absolute inset-y-0 left-0 p-4">
              <svg
                class="w-6 h-6 text-rose-500"
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                fill="currentColor"
              >
                <path
                  d="M20.283 10.356h-8.327v3.451h4.792c-.446 2.193-2.313 3.453-4.792 3.453a5.27 5.27 0 0 1-5.279-5.28 5.27 5.27 0 0 1 5.279-5.279c1.259 0 2.397.447 3.29 1.178l2.6-2.599c-1.584-1.381-3.615-2.233-5.89-2.233a8.908 8.908 0 0 0-8.934 8.934 8.907 8.907 0 0 0 8.934 8.934c4.467 0 8.529-3.249 8.529-8.934 0-.528-.081-1.097-.202-1.625z"
                ></path>
              </svg>
            </div>
            Crear cuenta con Google
          </button>

        </div>

        <p class="mt-5 text-sm text-gray-600">
          Este sitio está protegido por reCAPTCHA y la
          <a
            href="#"
            title=""
            class="text-blue-600 transition-all duration-200 hover:underline hover:text-blue-700"
            >Política de privacidad</a
          >
          &
          <a
            href="#"
            title=""
            class="text-blue-600 transition-all duration-200 hover:underline hover:text-blue-700"
            >Términos de servicio</a
          >
          de Google.
        </p>
      </div>
    </div>
  </div>
</section>
