<div class="loader" [style.width.px]="size" [style.height.px]="size">
  <div class="bar1" [style.background]="color"></div>
  <div class="bar2" [style.background]="color"></div>
  <div class="bar3" [style.background]="color"></div>
  <div class="bar4" [style.background]="color"></div>
  <div class="bar5" [style.background]="color"></div>
  <div class="bar6" [style.background]="color"></div>
  <div class="bar7" [style.background]="color"></div>
  <div class="bar8" [style.background]="color"></div>
  <div class="bar9" [style.background]="color"></div>
  <div class="bar10" [style.background]="color"></div>
  <div class="bar11" [style.background]="color"></div>
  <div class="bar12" [style.background]="color"></div>
</div>
