<section class="py-10 bg-white">
  <div class="px-4 mx-auto flex gap-3 items-start max-w-7xl sm:px-6 lg:px-8">
    <button
      class="relative hover:bg-gray-100 rounded-full p-3 transition-colors duration-300"
      (click)="goBackPage()"
    >
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 19l-7-7m0 0l7-7m-7 7h18" />
      </svg>
    </button>

    <div class="">
      <h1>
        <span class="block text-3xl font-semibold text-gray-900 dark:text-white">
          Pagar servicio
        </span>
      </h1>

      <div class="grid grid-cols-1 lg:grid-cols-3 py-8 gap-6">
        <form
          [formGroup]="form"
          class="flex flex-col gap-12 lg:col-span-2 rounded-lg p-8 bg-[#F4F7FF] border border-gray-200"
        >
          <div class="">
            <h2 class="text-2xl font-semibold mb-6">Informacion Personal</h2>

            <div class="">
              <div class="grid grid-cols-2 gap-4">
                <div>
                  <label
                    for="name"
                    class="block text-gray-500 font-medium dark:text-white mb-1"
                    >Nombre</label
                  >
                  <input
                    type="text"
                    id="name"
                    placeholder="Ingresa tu nombre"
                    formControlName="name"
                    class="w-full rounded-lg border border-gray-200 py-2 px-3"
                  />
                </div>

                <div>
                  <label
                    for="last_name"
                    class="block text-gray-500 font-medium dark:text-white mb-1"
                    >Apellidos</label
                  >
                  <input
                    type="text"
                    id="last_name"
                    placeholder="Ingresa tu apellido"
                    formControlName="last_name"
                    class="w-full rounded-lg border border-gray-200 py-2 px-3"
                  />
                </div>
              </div>

              <div class="mt-4">
                <label
                  for="address"
                  class="block text-gray-500 font-medium dark:text-white mb-1"
                  >Dirección</label
                >
                <input
                  type="text"
                  id="address"
                  placeholder="Ingresa tu dirección"
                  formControlName="address"
                  class="w-full rounded-lg border border-gray-200 py-2 px-3"
                />
              </div>

              <div class="grid grid-cols-2 gap-4 mt-4">
                <div>
                  <label
                    for="city"
                    class="block text-gray-500 font-medium dark:text-white mb-1"
                    >Ciudad</label
                  >
                  <input
                    type="text"
                    id="city"
                    placeholder="Ingresa tu ciudad"
                    formControlName="city"
                    class="w-full rounded-lg border border-gray-200 py-2 px-3"
                  />
                </div>
                <div>
                  <label
                    for="zip"
                    class="block text-gray-500 font-medium dark:text-white mb-1"
                    >Codigo Postal</label
                  >
                  <input
                    type="text"
                    id="zip"
                    placeholder="Ingresa tu codigo postal, ej: 10001"
                    formControlName="zip_code"
                    class="w-full rounded-lg border border-gray-200 py-2 px-3"
                  />
                </div>
              </div>

              <div class="grid grid-cols-5 gap-4 mt-4">
                <div class="col-span-2">
                  <label
                    for="phone"
                    class="block text-gray-500 font-medium dark:text-white mb-1"
                    >Celular</label
                  >
                  <input
                    type="tel"
                    id="phone"
                    placeholder="Ingresa tu celular, ej: +51 999 999 999"
                    formControlName="phone"
                    class="w-full rounded-lg border border-gray-200 py-2 px-3"
                  />
                </div>

                <!-- Fecha y hora -->
                <div class="col-span-2">
                  <label
                    for="date"
                    class="block text-gray-500 font-medium dark:text-white mb-1"
                    >Fecha y hora</label
                  >
                  <input
                    type="datetime-local"
                    [min]="minDate()"
                    id="date"
                    formControlName="start_date"
                    class="w-full rounded-lg border border-gray-200 py-2 px-3"
                  />
                </div>

                <!-- Cantidad de horas -->
                <div>
                  <label
                    for="hours"
                    class="block text-gray-500 font-medium dark:text-white mb-1"
                    >Horas</label
                  >
                  <input
                    type="number"
                    max="8"
                    min="1"
                    id="hours"
                    formControlName="hours"
                    class="w-full rounded-lg border border-gray-200 py-2 px-3"
                  />
                </div>
              </div>
            </div>
          </div>

          <!-- Divider -->
          <div class="flex">
            <div class="flex-1 h-[1px] bg-gray-200"></div>
          </div>

          <div class="flex flex-col gap-2">
            <h2 class="text-2xl font-semibold">Selecciona la direccion exacta</h2>

            <p class=" text-gray-500 font-medium mb-4">
              Con el marcador puedes seleccionar la ubicacion exacta de tu domicilio
            </p>

            <!-- Mostrar Coordenadas del marcador -->
            <div class="flex gap-4 mb-4">
              <div class="flex items-center gap-2">
                <p class=" text-gray-500 font-medium">Latitud:</p>
                <p class="">{{ location()[0] }}</p>
              </div>

              <div class="flex items-center gap-2">
                <p class=" text-gray-500 font-medium">Longitud:</p>
                <p class="">{{ location()[1] }}</p>
              </div>
            </div>

            <!-- Mapa de google maps de la ubicacion actual -->
            <div class="h-96 rounded-lg border border-gray-200">
              <app-mini-map
                (location)="handleLocation($event)"
                [lngLat]="location()"
              />
            </div>
          </div>

        </form>

        <div class="">
          <div class="rounded-lg p-8 bg-[#F4F7FF] border border-gray-200">
            <h2 class="text-2xl font-semibold mb-6">Resumen</h2>

            <div class="mb-6">
              <div
                class="border text-card-foreground p-4 bg-white rounded-lg shadow"
                data-v0-t="card"
              >
                <div class="flex justify-between">
                  <div>
                    <h4 class="text-base font-semibold">
                      {{ service()?.name }}
                    </h4>
                    <!-- Moneda en soles -->
                    <p class="text-sm">
                      S/ {{ service()?.priceByHour }}
                    </p>

                    <p class="text-sm">
                      {{ form.get('hours')?.value }} horas
                  </div>

                  <img
                    [src]="service()!.images[0]"
                    alt="product"
                    class="w-28 object-cover rounded-lg"
                  />
                </div>
              </div>
            </div>

            <div class="mb-6">
              <div class="flex justify-between mb-2">
                <p class="text-sm">Subtotal</p>
                <p class="text-sm">S/ {{ priceTotal() }}</p>
              </div>

              <div class="flex justify-between mb-2">
                <p class="text-sm">Descuento</p>
                <p class="text-sm">-S/ 0.00</p>
              </div>

              <div class="flex justify-between font-semibold">
                <p>Total a pagar</p>
                <p>S/ {{ priceTotal() }}</p>
              </div>
            </div>

            <div class="flex flex-col gap-5">
              <button
                type="button"
                class="text-blue-600 mx-auto bg-[#F7BE38] hover:bg-[#F7BE38]/90 focus:ring-4 focus:outline-none focus:ring-[#F7BE38]/50 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center"
                (click)="bookService()"
              >
                @if ( status() === 'loading') {
                  <app-loader class="mr-2" color="black"/>
                }

                <svg
                  class="w-4 h-4 me-2 -ms-1"
                  aria-hidden="true"
                  focusable="false"
                  data-prefix="fab"
                  data-icon="paypal"
                  role="img"
                  xmlns="http://www.w3.org/2000/svg"
                  viewBox="0 0 384 512"
                >
                  <path
                    fill="currentColor"
                    d="M111.4 295.9c-3.5 19.2-17.4 108.7-21.5 134-.3 1.8-1 2.5-3 2.5H12.3c-7.6 0-13.1-6.6-12.1-13.9L58.8 46.6c1.5-9.6 10.1-16.9 20-16.9 152.3 0 165.1-3.7 204 11.4 60.1 23.3 65.6 79.5 44 140.3-21.5 62.6-72.5 89.5-140.1 90.3-43.4 .7-69.5-7-75.3 24.2zM357.1 152c-1.8-1.3-2.5-1.8-3 1.3-2 11.4-5.1 22.5-8.8 33.6-39.9 113.8-150.5 103.9-204.5 103.9-6.1 0-10.1 3.3-10.9 9.4-22.6 140.4-27.1 169.7-27.1 169.7-1 7.1 3.5 12.9 10.6 12.9h63.5c8.6 0 15.7-6.3 17.4-14.9 .7-5.4-1.1 6.1 14.4-91.3 4.6-22 14.3-19.7 29.3-19.7 71 0 126.4-28.8 142.9-112.3 6.5-34.8 4.6-71.4-23.8-92.6z"
                  ></path>
                </svg>

                <span class="text-black">
                  Pagar con PayPal
                </span>
              </button>
            </div>

          </div>

          <div
            class="flex flex-col gap-5 mt-6 rounded-lg p-8 bg-[#F4F7FF] border border-gray-200"
          >
            <div class="flex flex-col gap-1">
              <h3 class="text-lg font-semibold">Codigo de cupón</h3>
              <p class="text-sm text-muted-foreground text-gray-500 font-medium">
                Ingrese el codigo de cupon para obtener un descuento instantaneo
              </p>
            </div>

            <!-- Divider -->
            <div class="flex">
              <div class="flex-1 h-[1px] bg-gray-200"></div>
            </div>

            <div class="flex">
              <input
                class="w-full rounded-lg border border-gray-200 py-2 px-3"
                placeholder="Codigo de cupon"
                type="text"
              />

              <button
                class="bg-blue-600 text-white rounded-lg px-4 py-2 ml-3 font-medium"
              >
                Aplicar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
<!-- bg-white shadow -->
