<section class="py-10 sm:py-16 lg:py-24">
  <div class="px-4 mx-auto max-w-7xl sm:px-6 lg:px-8">
    <div class="max-w-2xl mx-auto text-center">
      <h2 class="text-3xl font-bold leading-tight text-black sm:text-4xl lg:text-5xl">
        Bienvenido! 🎉
      </h2>

      <p class="max-w-xl mx-auto mt-4 text-lg font-semibold leading-relaxed text-gray-600">
        Ingrese su información personal para continuar
      </p>
    </div>

    <div class="relative max-w-md mx-auto mt-8 md:mt-16">
      <div class="overflow-hidden bg-white rounded-md shadow-md">
        <div class="px-4 py-6 sm:px-8 sm:py-7">
          <form action="#" method="POST">
            <div class="space-y-5">

              <!--! Nombres  -->
              <div>
                <label for="" class="text-base font-medium text-gray-900">
                  Nombre completo
                </label>
                <div
                  class="mt-2.5 relative text-gray-400 focus-within:text-gray-600"
                >
                  <div
                    class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
                  >
                    <span class="material-symbols-outlined">
                      person
                    </span>
                  </div>

                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="Ingrese su nombre completo"
                    class="block w-full py-4 pl-10 pr-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md focus:outline-none focus:border-blue-600 caret-blue-600"
                  />
                </div>
              </div>

              <!--! Apellidos -->
              <div>
                <label for="" class="text-base font-medium text-gray-900">
                  Apellidos
                </label>
                <div
                  class="mt-2.5 relative text-gray-400 focus-within:text-gray-600"
                >
                  <div
                    class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
                  >
                    <span class="material-symbols-outlined">
                      person
                    </span>
                  </div>

                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="Ingrese sus apellidos"
                    class="block w-full py-4 pl-10 pr-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md focus:outline-none focus:border-blue-600 caret-blue-600"
                  />
                </div>
              </div>

              <!--! N° de celular  -->
              <div>
                <label for="" class="text-base font-medium text-gray-900">
                  N° de celular
                </label>
                <div
                  class="mt-2.5 relative text-gray-400 focus-within:text-gray-600"
                >
                  <div
                    class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
                  >
                    <span class="material-symbols-outlined">
                      phone_iphone
                    </span>
                  </div>

                  <input
                    type="text"
                    name=""
                    id=""
                    placeholder="Ingrese su número de celular"
                    class="block w-full py-4 pl-10 pr-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md focus:outline-none focus:border-blue-600 caret-blue-600"
                  />
                </div>
              </div>

              <!--! Direccion -->
              <div>
                <label for="" class="text-base font-medium text-gray-900">
                  Dirección
                </label>
                <div
                  class="mt-2.5 relative text-gray-400 focus-within:text-gray-600"
                >
                  <div
                    class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
                  >
                    <span class="material-symbols-outlined">
                      home_pin
                    </span>
                  </div>

                  <input
                    type="email"
                    name=""
                    id=""
                    placeholder="Ingrese su dirección"
                    class="block w-full py-4 pl-10 pr-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md focus:outline-none focus:border-blue-600 caret-blue-600"
                  />
                </div>
              </div>

              <!--! zip code -->
              <div>
                <label for="" class="text-base font-medium text-gray-900">
                  Código postal
                </label>
                <div class="mt-2.5 relative text-gray-400 focus-within:text-gray-600">
                  <div
                    class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none"
                  >
                    <span class="material-symbols-outlined">
                      map
                    </span>
                  </div>

                  <input
                    type="password"
                    name=""
                    id=""
                    placeholder="Ingrese su código postal"
                    class="block w-full py-4 pl-10 pr-4 text-black placeholder-gray-500 transition-all duration-200 bg-white border border-gray-200 rounded-md focus:outline-none focus:border-blue-600 caret-blue-600"
                  />
                </div>
              </div>

              <div>
                <button
                  type="submit"
                  class="inline-flex items-center justify-center w-full px-4 py-4 text-base font-semibold text-white transition-all duration-200 bg-blue-600 border border-transparent rounded-md focus:outline-none hover:bg-blue-700 focus:bg-blue-700"
                >
                  Siguiente
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
